
<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">

<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

        <h3 class="page-title">

            上传图片

            <small></small>

        </h3>

        <ul class="breadcrumb">
        </ul>

    </div>

</div>

<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

<div class="span12">

<!-- BEGIN SAMPLE FORM PORTLET-->

<div class="portlet box blue tabbable">

<div class="portlet-title">

    <div class="caption">

        <i class="icon-reorder"></i>

        <span class="hidden-480">表单</span>

    </div>

</div>

<div class="portlet-body form">

<div class="tabbable">

<ul class="nav nav-tabs"></ul>

<div class="tab-content">

<div class="tab-pane active" id="portlet_tab1">

<!-- BEGIN FORM-->

<form class="form-horizontal" method="post" enctype="multipart/form-data">

<div class="control-group">

    <label class="control-label">选择文件</label>

    <div class="controls">

        <input type="file" name="file[]" multiple="true" class="m-wrap large" />

        <span class="help-inline">建议一次最多上传五张</span>

    </div>

</div>

<div class="control-group">

    <label class="control-label">图片分类</label>

    <div class="controls">

        <select class="medium m-wrap" tabindex="1" name="cate">

            <volist id="vo" name="category" key="k">

            <option value="{$k}">{$vo}</option>

            </volist>

        </select>

    </div>

</div>

<div class="form-actions">

    <button type="submit" class="btn blue"><i class="icon-ok"></i> 上传</button>

    <button type="button" class="btn red">返回</button>

</div>

</form>

<!-- END FORM-->

</div>

</div>

</div>

</div>

</div>

<!-- END SAMPLE FORM PORTLET-->

</div>

</div>

<!-- END PAGE CONTENT-->

</div>

<!-- END PAGE CONTAINER-->
