<div class="portlet-body form">

<!-- BEGIN FORM-->

<div class="form-horizontal form-view">

<h3> IP 详细信息 </h3>

    <button type="button" class="btn red" onclick="history.back();">返回 <i class="m-icon-swapright m-icon-white"></i></button>

    <div class="row-fluid">

    <div class="span6 ">

        <div class="control-group">

            <label class="control-label">IP:</label>

            <div class="controls">

                <span class="text">{$info.fdIP}</span>

            </div>

        </div>

    </div>

    <!--/span-->

    <div class="span6 ">

        <div class="control-group">

            <label class="control-label">访问日期：</label>

            <div class="controls">

                <span class="text">{$info.fdCreate}</span>

            </div>

        </div>

    </div>


    <!--/span-->

</div>

<div class="row-fluid">
    <div class="span6 ">

        <div class="control-group">

            <label class="control-label">经度：</label>

            <div class="controls">

                <span class="text">{$info.fdLng}</span>

            </div>

        </div>

    </div>

    <div class="span6 ">

        <div class="control-group">

            <label class="control-label">纬度:</label>

            <div class="controls">

                <span class="text">{$info.fdLat}</span>

            </div>

        </div>

    </div>

</div>

<!--/row-->

<h3 class="form-section">大概位置：</h3>

<div class="row-fluid">

    <div class="span12 ">

        <div class="control-group">

            <div class="controls">

                <div style="position:absolute" id="allmap"></div>

            </div>

        </div>

    </div>

</div>

</div>

<!-- END FORM-->

</div>

<script type="text/javascript">
    // 百度地图API功能
    var lng = "{$info.fdLng}";
    var lat = "{$info.fdLat}";

    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(lng, lat);
    map.centerAndZoom(point,12);

    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);
            map.panTo(r.point);
        }
        else {
            alert('failed'+this.getStatus());
        }
    },{enableHighAccuracy: true});


    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
    map.centerAndZoom(point,12);

//    function myFun(result){
////        var cityName = result.name;
////        map.setCenter(cityName);
//        var lng = result.center.lng;
//        var lat = result.center.lat;
//        console.log(result.center);
//    }
//
//    var myCity = new BMap.LocalCity();
////    console.log(myCity);
//
//    myCity.get(myFun);

</script>