<div class="container-fluid">

<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

        <h3 class="page-title">

            访问IP<small></small>

        </h3>

        <ul class="breadcrumb">

            <!--<li>-->

                <!--<i class="icon-home"></i>-->

                <!--<a href="">Home</a>-->

                <!--<i class="icon-angle-right"></i>-->

            <!--</li>-->

            <!--<li>-->

                <!--<a href="#">Data Tables</a>-->

                <!--<i class="icon-angle-right"></i>-->

            <!--</li>-->

            <!--<li><a href="#">Basic Tables</a></li>-->

        </ul>

        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

</div>

<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN SAMPLE TABLE PORTLET-->

        <div class="portlet box blue">

            <div class="portlet-title">

                <div class="caption">列表</div>

                <div class="tools"></div>

            </div>

            <div class="portlet-body">

                <table class="table table-hover">

                    <thead>

                    <tr>

                        <th>序号</th>

                        <th>IP</th>

                        <th>访问时间</th>

                        <th>经度</th>

                        <th>纬度</th>

                        <th>操作</th>

                    </tr>

                    </thead>

                    <tbody>

                        <volist id="vo" name="list">

                            <tr>

                                <td>{$vo.id}</td>

                                <td>{$vo.fdIP}</td>

                                <td>{$vo.fdCreate|date='Y-m-d H:i:s',###}</td>

                                <td>{$vo.fdLng}</td>

                                <td>{$vo.fdLat}</td>

                                <td>

                                    <a href="{:U('Backstage/detail', ['id' => $vo['id']])}" class="btn blue mini">详情</a>

                                    <a href="javascript:;" onclick="del('{$vo.id}')" class="btn red mini">删除</a>

                                </td>

                            </tr>

                        </volist>

                    </tbody>

                </table>

                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">

                    <ul class="pagination">

                        <div class="yahoo2">{$page}<div/>

                    </ul>

                </div>


            </div>


        </div>

        <!-- END SAMPLE TABLE PORTLET-->

    </div>


    <!-- END PAGE CONTENT-->

</div>

<!-- END PAGE CONTAINER-->

</div>
<script type="text/javascript">
    function del(id){
        console.log(id);
        layer.msg('你确定要删除该IP？', {
            time: 0 //不自动关闭
            ,btn: ['係啊', '等阵']
            ,yes: function(index){
                layer.close(index); //先关闭原来的框
                $.get("{:U('Backstage/del')}" + "?id=" + id, function (re){
                    layer.open({
                        content: re.msg,
                        time: 2000,
                        end: function(){
                            window.location.reload();
                        }
                    })
                })
            }
        });
    }
</script>