<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(__PUBLIC__/images/Home/full_1.jpg);">
    <div class="fh5co-testimonial-style-2">
        <div class="container">
            <div class="row p-b">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">我的简介</h2>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Personal profile</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                        <div class="fh5co-name"><div class="fh5co-meta"></div></div>
                        <div class="fh5co-text"></div>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.6s">
                        <div class="fh5co-name"><div class="fh5co-meta"></div></div>
                        <div class="fh5co-text"></div>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
                        <div class="fh5co-name">
                            <img src="__PUBLIC__/images/Home/own1.jpg" alt="">
                            <div class="fh5co-meta">
                                <h3>Chiu</h3>
                            </div>
                        </div>
                        <div class="fh5co-text">

                            <p style="color:black;font-size: 20px;font-weight: bold;">菜鸟PHP程序猿一名，经验尚浅，欢迎大神们指点 <br/>性格方面：人还不错，除了长的帅点以外，也没什么缺点了。 </p>
                            <p><a href="{:U('Index/index')}" class="btn btn-success btn-sm btn-outline">back</a></p>
                            <p><a href="{:U('Message/live_message')}" class="btn btn-success btn-sm btn-outline">吐槽两句</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>