<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(__PUBLIC__/images/Home/full_1.jpg);">
    <div class="fh5co-testimonial-style-2">
        <div class="container">
            <div class="row p-b">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="fh5co-heading wow fadeInUp">我的简介</h2>
                    <p class="wow fadeInUp" >Personal profile</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-testimonial-item wow fadeInUp">
                        <div class="fh5co-name"><div class="fh5co-meta"></div></div>
                        <div class="fh5co-text"></div>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-testimonial-item wow fadeInUp">
                        <div class="fh5co-name"><div class="fh5co-meta"></div></div>
                        <div class="fh5co-text"></div>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fh5co-testimonial-item wow fadeInUp">
                        <div class="fh5co-name">
                            <img src="__PUBLIC__/images/Home/own1.jpg" alt="">
                            <div class="fh5co-meta">
                                <h3>Chiu</h3>
                            </div>
                        </div>
                        <div class="fh5co-text">

                            <p style="color:black;font-size: 20px;font-weight: bold;">PHP程序猿一名，经验尚浅，欢迎大神指点，目前只开放了留言功能，其他功能会陆续开放~~ <br/>性格方面：人还不错，除了长的帅点以外，也没什么缺点了。 </p>
                            <p>
                                <a href="{:U('Message/add')}" class="btn btn-success btn-sm btn-outline">吐槽两句</a>
                                <a href="{:U('Index/index')}" class="btn btn-success btn-sm btn-outline">返回首页</a>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.wow').attr({'data-wow-duration': "1s", 'data-wow-delay':".5s"});
    })
</script>