<style>
    .mes{
        border:1px solid #e7ebef;
        margin-bottom: 6px;
    }
    .content > h4 {
        margin:14px 0 0 0;
    }
    .content > h4 > div{
        margin-top:6px; float: right;font-size: small
    }
</style>

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

<div style="background:#262626">
    <div class="fh5co-features-style-2">
        <div class="container">
            <div class="row p-b">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="fh5co-heading wow fadeInUp"  style="color: #fff;">Leave a Message</h2>
                    <p class="wow fadeInUp" ><i class="icon icon-pencil"></i> 畅所欲言 <i class="icon icon-pencil"></i></p>
                </div>
            </div>
            <div class="row">
                <div class="clearfix visible-sm-block visible-xs-block"></div>
                {$html}
            </div>
        </div>

        <div class="container" style="margin-top: 50px;">
            <div class="row p-b">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="javascript:;" class="btn btn-success btn-sm btn-outline wow fadeInUp reply" cid="0" >添加一条评论</a>
                    <a href="{:U('Index/index')}" class="btn btn-success btn-sm btn-outline wow fadeInUp" >返回首页</a>
                </div>
            </div>
        </div>

        <!--模态框-->
        <div class="theme-popover">
            <div class="modal-header">
                <span class="mod-tit re-who"></span>
                <a href="javascript:;" title="关闭" class="close">×</a>
            </div>
            <form  method="post" action="" id="post_message">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" >
                            <script id="editor" type="text/plain" style="width:auto;height:300px;"></script>
                        </div>
                        <input type="hidden" name="cid" value=""/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>

        <div class="theme-popover-mask"></div>
        <!--模态框-->
    </div>
</div>

<script>
    var ue = UE.getEditor('editor');
    var user_name = '';
    var content_id = '';
    $(function(){
        $('.wow').attr({'data-wow-duration': "1s", 'data-wow-delay':".5s"});
        $('.close').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('.theme-popover').slideUp(200);
        })
    });

    $('.reply').click(function(){
        $('.theme-popover').fadeIn(300);
        $('.theme-popover-mask').show();

        user_name = $(this).attr('uname');
        content_id = $(this).attr('cid');

        $('input[name="cid"]').val(content_id);
        $('.re-who').html('回复: '+user_name);
    });

    $('#post_message').submit(function(){
        if("{$user_id}"){
            add();
        }else{
            //询问框
            layer.confirm('您还未登录,是否需要登录?否则系统只会记录你的ip', {
                btn: ['去登录','继续发'] //按钮
            }, function(){
                layer.msg('GOGOGO!', {icon: 1, time: 1000},function(){
                    window.location.href="{:U('Home/SignUp/login')}";
                });
            }, function(){
                add();
            });
        }
        return false;
    });

    function add(){
        var _this = $(this);
        var content = ue.getContent();
        var cid = $('input[name="cid"]').val();

        if(!content){layer.msg('请输入内容...');return false;}
        if(!cid){layer.msg('参数缺失,请联系博主...');return false;}

        _this.find('button[type=submit]').prop('disabled', true);
        $.post("{:U('Home/Message/add')}", {content:content,parent_id:cid}, function(re){
            layer.msg(re.msg, {time:2000}, function(){
                window.location.reload();
            });
        });
    }

    function del(id){
        console.log(id);
        !id && layer.msg('参数缺失,请联系博主...');
        $.get("{:U('Home/Message/del')}", {id:id}, function(re){
            layer.msg(re.msg, {time:1000}, function(){
                window.location.reload();
            });
        })
    }
</script>