<style>
    .mes{
        border:2px solid #e7ebef;
        margin-bottom: 10px;
    }
    .theme-popover-mask {
        z-index: 9998;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#000;
        opacity:0.4;
        filter:alpha(opacity=40);
        display:none
    }
    .theme-popover {
        z-index:9999;
        position:fixed;
        top:50%;
        left:50%;
        width:660px;
        height:360px;
        margin:-180px 0 0 -330px;
        border-radius:5px;
        border:solid 2px #666;
        background-color:#fff;
        display:none;
        box-shadow: 0 0 10px #666;
    }
</style>

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

<div style="background:#262626">
    <div class="fh5co-features-style-2">
        <div class="container">
            <div class="row p-b">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="color: gray;">Leave Message</h2>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">畅所欲言</p>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 wow fadeInUp mes" data-wow-duration="1s" data-wow-delay="1.1s">-->
                    <!--<div class="fh5co-icon"> <h4>aaa</h4></div>-->
                    <!--<div class="fh5co-desc">-->
                        <!--<p style="margin-bottom:0px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
                        <!--<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 wow fadeInUp mes" data-wow-duration="1s" data-wow-delay="1.1s">-->
                            <!--<div class="fh5co-icon"> <h4>xxx回复:aaa</h4></div>-->
                            <!--<div class="fh5co-desc">-->
                                <!--<p>123456789</p>-->
                                <!--<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 wow fadeInUp mes" data-wow-duration="1s" data-wow-delay="1.1s">-->
                                    <!--<div class="fh5co-icon"> <h4>aaa回复:xxx</h4></div>-->
                                    <!--<div class="fh5co-desc">-->
                                        <!--<p>987654321</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="clearfix visible-sm-block visible-xs-block"></div>
                {$html}
                <!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">-->
                    <!--<div class="fh5co-icon"><i class="icon-eye22"></i></div>-->
                    <!--<div class="fh5co-desc">-->
                        <!--<h3>Retina Ready</h3>-->
                        <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
                <!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">-->
                    <!--<div class="fh5co-icon"><i class="icon-toggle"></i></div>-->
                    <!--<div class="fh5co-desc">-->
                        <!--<h3>Fully Responsive</h3>-->
                        <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">-->
                    <!--<div class="fh5co-icon"><i class="icon-archive22"></i></div>-->
                    <!--<div class="fh5co-desc">-->
                        <!--<h3>Lightweight</h3>-->
                        <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
                <!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">-->
                    <!--<div class="fh5co-icon"><i class="icon-heart22"></i></div>-->
                    <!--<div class="fh5co-desc">-->
                        <!--<h3>Made with Love</h3>-->
                        <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.6s">-->
                    <!--<div class="fh5co-icon"><i class="icon-umbrella"></i></div>-->
                    <!--<div class="fh5co-desc">-->
                        <!--<h3>Eco Friendly</h3>-->
                        <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="clearfix visible-sm-block visible-xs-block"></div>
            </div>
        </div>
        <button style="margin-left: 26px;" class="btn btn-success op wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">评论</button>
        <div class="theme-popover">
            <div class="theme-poptit">
                <a style="margin: 8px 10px 0 0;" href="javascript:void(0);" title="关闭" class="close">×</a>
            </div>
            <div class="theme-popbod dform">
                <h2 class="fh5co-heading">Leaving msg</h2>
            </div>
        </div>
        <div class="theme-popover-mask"></div>
        <!--<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s" id="send_msg">-->
            <!--<script id="editor" type="text/plain" style="height:200px;"></script>-->
            <!--<br/>-->
            <!--<button class="send_msg btn btn-success">提交</button>-->
        <!--</div>-->
    </div>
</div>

<script>
    $(function(){
        $('.theme-login').click(function(){
            $('.theme-popover-mask').fadeIn(100);
            $('.theme-popover').slideDown(200);
        })
        $('.theme-poptit .close').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('.theme-popover').slideUp(200);
        })
    });
    $('.op').click(function(){
        $('.theme-popover').show();
    })
    $('.reply').click(function(){
        alert(123);
    })
</script>